*{
    color: black;
}

.selectSection{
    width: 25em;
    padding: 12px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    box-shadow: 6px 6px 15px rgba(235, 229, 229, 0.5);
    margin-top: 16px;

}