.formSection{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    background-color: #02021d ;
    margin-top: 32px;
    padding: 32px;
    box-shadow: 6px 6px 15px rgba(235, 229, 229, 0.5);
    margin-bottom: 6em;
}

.formSection h3{
    color: white;
    font-size: 1.5em;
}