.inputSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    
}

.inputSection input{
    padding: 12px;
    width: 100%;
    border: none;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: start;
    margin-top: 6px;
    box-shadow: 6px 6px 15px rgba(2, 13, 63, 0.5);
    background-color: rgb(2, 7, 31);
    color: white;
}

.inputSection label{
    color: white;
    margin-top: 12px;
    font-weight: lighter;
    text-align: start;
    margin-left: 8px;
}


 



