.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: #100124;
    background-image: url("../../../public/images/fundo1.png");
    background-repeat: repeat;
}

.header img{
    width: 6em;
}

.header .rok{
    width: 9em;
}