.btnSend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnSend button{
    width: 25%;
    margin-top: 32px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    box-shadow: 6px 6px 15px rgba(235, 229, 229, 0.5);
    cursor: pointer;
}

.btnSend img {
    width: 5em;
    background-color: white;
    border-radius: 50% 25%;
    margin-top: 12px;
    box-shadow: 6px 6px 15px rgba(235, 229, 229, 0.5);

}